.ag-theme-alpine {
    /* use theme parameters where possible */

    --ag-header-foreground-color:#fff;
    --ag-foreground-color: #fff;
    --ag-background-color: rgba(0, 0, 0, 0.1);
    --ag-header-background-color:rgba(0, 0, 0, 0.1);
    --ag-control-panel-background-color:#222729;
    --ag-subheader-background-color:#222729;

    --ag-subheader-toolbar-background-color:#222729;

    --ag-disabled-foreground-color: #222729;
    /* ag-derived(#a6b0b4, $opacity: 0.5); */
    --ag-borders:false;
    --ag-border-color: #2b454d;
    /* background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343, #215569); */
}
#aztech__grid_table{
    background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343,#215569, #0e0f14);
}
#aztech__grid_table .ag-root-wrapper-body.ag-layout-normal {
    flex: 1 1 auto;
    height: 100%;
    min-height: auto;
}

/* #aztech__grid_table .ag-header-container,#aztech__grid_table .ag-center-cols-container{
    width: auto !important;
    background: white;
}

#aztech__grid_table .ag-theme-alpine .ag-root-wrapper{
    border-left-width: 0;
    border-right-width: 0;
    border-color: #cddcf5;
}
#aztech__grid_table .ag-header-cell-text{
    color: #16c1c3;
    font-weight: normal;
    font-size: 15px;
} */