.containerT {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 64px;
    margin-bottom: 64px;
    margin: 50;
}

.cardContainer{
    width: 33%;
    margin: 0 auto !important;
}