#parent {
    position: relative;
    overflow: auto;
    min-height: 100vh;
    background: rgb(24,64,74);
    background: radial-gradient(circle, rgba(24,64,74,1) 45%,rgba(10,12,16,1) 100%);
    padding: 16px;
}
.child {
    position: absolute;
    height:100vh;
    width:99%;
    border-radius: 20px;
    min-height: 100vh;
    border: 2px solid #909193;
}

.frame {
    height: 100vh;
    width: 100%;
}

.start{
    width: 50%;
    height: 80%;
}

.transaprentBox{
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 6px;
    margin-left: 15px;
    margin-right: 15px;
}

.button {
    margin-top: 10;
    width: 200;
    height: 40 ;
    background: rgb(231,0,84);
    background: linear-gradient(90deg, rgba(231,0,84,1) 0%, rgba(255,160,146,1) 100%);
}