#grad {
    /* justify-content: space-evenly; */
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #0c5658,;
    /* background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343,#215569, #0e0f14); */
    padding: 16px;
    margin: 50;
}

.Back{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: safe;
}

.sliderWidth{
    /* width: 50%; */
    margin-top: 100;
}