#chartdiv {
    width: 500px;
    height: 300px;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  #grad {
    width:100%;
    min-height: 100vh;
    /* background-color: #0c5658,; */
    background-image: linear-gradient(to bottom left,#0a0c10,#0a0c10,#004e45, #18404a,#0a0c10, #18404a,#0a0c10,#0a0c10);
    padding: 16px;
    margin: 50;
}