div#custom__graph_drawer {
    background: #172032eb;
    position: absolute;
    color: white;
    top: 16px;
    right: 0;
    transition: all 0.3s ease-in-out;
    /* border-top-right-radius: 8px; */
    bottom: 16px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
}
.az_drawer_header {
    padding: 9px;
    border-bottom: 1px solid #a7a7a7;
    color: #a7a7a7;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.az_border__bottom{
    border-bottom: 1px solid #a7a7a7;
}

.az_drawer__body table tr td{
    padding: 0.2rem 0.2rem;
    color: white !important;
}

.algo__action_btn{
    background: rgb(31,104,143);
    background: linear-gradient(342deg, rgba(31,104,143,1) 0%, rgba(89,198,129,1) 68%);
    border: none;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
}

#sub_graph{
    width: 100%;
    height: 100%;    
    overflow: hidden;
    font: 15pt arial;
    /* background: rgb(255 255 255 / 20%); */
}

.az_drawer__body .az_drawer_accordian{
    box-shadow: none;
    background: transparent;
    color: white;
}

#sub_graph .vis-tooltip{
    background-color: white;
    border-radius: 8px;
    text-align: left;
    display: none;
    /* text-transform: capitalize; */
    /* top: 24px !important; */
}

.text-right{ text-align: right;}

.openInNew{
    color: rgb(89, 197, 128);
    cursor: pointer;
    transform: rotate(270deg);
    font-size: 32px;
    cursor: pointer;
}
.no__graph{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 24px;
}
.az_cpm_inf{
    color: white !important;
}

.az_cpm_inf .table-striped>tbody>tr:nth-of-type(odd) {    
    color: white !important;
}