#grad {
  min-height: 100vh;
    background-color: #0c5658,;
    background-image: linear-gradient(to bottom right,#343642, #0c5658, #767e4f);
    padding: 16px;
  }

  .center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }

  .secondaryContainer{
    border-radius: 20px;
    padding: 16px;
    min-height: 100vh;
    border: 3px solid #000;
  }

  .whiteBoarder{
    border-radius: 10px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 0 auto !important;  
    border: 3px solid rgba(255, 255, 255, 0.2);
  }

  .center{
    display: flex;
    justify-content: center;
  }

.nav-item button{
    border: none;
    outline: none;
}

.az_fraise_head button{
    background-color: transparent;
    border-radius: 8px !important;
}