#back{
    min-height: 100vh;
    background-color: #f2f2f2;
        /* background-color: #00f; */
    /* margin: 16; */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.cardT{
    width: 50;
}

.cardMenu{
    margin: 10;
    justify-items: center;
}

.fibo__side_nav{
    /* height: 100vh; */
    border-radius: 8px;
}

.fibo_nav_option{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 15px 0;
}

.fibo_nav_option_img{
    width: 100%;
    height: auto;
}

.statiscal__content{
    cursor: pointer;
}
.statiscal_name{
    font-size: 20px;
    color: #16c1c3;
    margin-bottom: 20px;
}

.statiscal__content:hover{
    background-color: rgb(22, 193, 195);
    color: #fff;
}

.statiscal__content:hover .statiscal_name{
    color: white;
}

.aztech__card{
    border-radius: 16px;
}

.fibo_nav-icon{
    font-size: 25px;
    color: #9baac5;
}

.w-31{
    width: 31%;
}

.fibo__header-tabs .ui.menu{
    background-color: transparent;
    border-radius: 30px;
    min-height: auto;
}
.fibo__header-tabs .ui.menu .item{
    padding: 6px 1.14285714em;
}
.fibo__header-tabs .ui.menu .item::before{
    display: none;
}
.fibo__header-tabs .ui.menu .item:hover{
    background-color: transparent;
}

.fibo__header-tabs .ui.menu .active.item, .fibo__header-tabs .ui.menu .active.item:hover{
    background-color: #16c1c3;
    color: #fff;
    border-radius: 30px;
}

