#grad {
    min-height: 100vh;
      background-color: #0c5658,;
      background-image: linear-gradient(to bottom left,#0a0c10,#0a0c10, #18404a,#0a0c10, #18404a,#0a0c10,#0a0c10);
      padding: 16px;
    }

.secondaryContainer{
    border-radius: 20px;
    padding: 16px;
    min-height: 100vh;
    border: 3px solid #909193;
}

.card{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #00000000;
    border: 1px solid #0e895f;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
}

.topFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 64px;
    margin: 50;
  }