.Back{
    height: 85vh;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.ag-theme-alpine {
    /* use theme parameters where possible */

    --ag-header-foreground-color:#fff;
    --ag-foreground-color: #fff;
    --ag-background-color: rgba(0, 0, 0, 0.1);
    --ag-header-background-color:rgba(0, 0, 0, 0.1);
    --ag-control-panel-background-color:#222729;
    --ag-subheader-background-color:#222729;

    --ag-subheader-toolbar-background-color:#222729;

    --ag-disabled-foreground-color: #222729;
    /* ag-derived(#a6b0b4, $opacity: 0.5); */
    --ag-borders:false;
    --ag-border-color: #2b454d;
    /* background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343, #215569); */
}

#grad {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    /* background-color: #0c5658,; */
    background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343,#215569, #0e0f14);
    padding: 16px;
    margin: 50;
}
 
/* .ag-theme-alpine {
    font-style: italic;
   
    background-color: #f00,
     background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343, #215569);
 } */

/* #grad {
    min-height: 100vh;
    width: 100%;
      background-color: #0c5658,;
      background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343, #215569);
      padding: 16px;
    } */
  