button:focus, button:active{
    outline: none;
    border: none;
}

#viz{
    width: 100%;
    height: 100vh;    
    overflow: hidden;
    font: 22pt arial;
    /* background: rgb(0 0 0 / 35%) */
}

#viz p {
    text-align: left !important;
}

#viz .vis-tooltip{
    background-color: white;
    border-radius: 4px;
    border: none;
    text-align: left;    
    color: black;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;  
    display: none;  
}

/* .vis-tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
} */

.graph__actions {
    position: absolute;
    top: 40px;
    right: 40px;
}

.graph_action_item{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close__drawer{
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: 15px;
}

.node__action{
    position: absolute;
    transition: all .3s linear;
}

#graph__test_container{
    /* background-image: linear-gradient(to bottom right,#343642, #0c5658, #767e4f); */
    background: #0e1117;
}

.neo_container{
    background: #ffffff1c;
}

.graph_actions {
    /* background: rgb(140 140 140 / 35%); */
    /* border: 1px solid rgb(140 140 140 / 35%); */
    /* border-top-left-radius: 8px; */
    /* border-top-right-radius: 8px; */
    /* border-radius: 12px; */
    position: absolute;
    width: 100%;
    z-index: 1;
}

li.action_item {
    padding: 12px;
    color: #59c580;
    cursor: pointer;
    /* font-size: 16px; */
    padding: 4px 15px;
}

.doughnut{   
    position: absolute;
    transform: rotate(45deg);
}

.box {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: 2px solid #29665b;
}

/* .box:hover{
    cursor: pointer;
    background: radial-gradient(farthest-side at center,transparent 40%,#757575 41%);
} */

.box1 {
    background: radial-gradient(farthest-side at center,transparent 40%,#172032 41%);
    clip-path: polygon(0 0,0 0%, 47% 59%, 100% 0%,100% 0);
    transform: rotate(
45deg
);
}


.box2 {  
    background: radial-gradient(farthest-side at center,transparent 40%,#172032 41%);    
    clip-path: polygon(0 0,0 0%, 50% 50%, 100% 0%,100% 0);
    transform: rotate( 
136deg
 );
}

.box3 {   
    background: radial-gradient(farthest-side at center,transparent 40%,#172032 41%);    
    clip-path: polygon(0 0,0 0%, 49% 50%, 100% 0%,100% 0);
    transform: rotate( 
226deg
 );
}

.box4{
    background: radial-gradient(farthest-side at center,transparent 40%,#172032 41%);    
    clip-path: polygon(0 0,0 3%, 49% 50%, 100% 0%,100% 0);
    transform: rotate( 
317deg
 );
}

.action_container .fab__btn svg{
    font-size: 26px;
}

.action_container .fab__btn, .action_container .fab__btn:hover{
    
    background: transparent;
    box-shadow: none;
    color: #59c681;
    position: absolute;
    
}
.icon{
    color: white;
}

.action_container .box1 .fab__btn{
    top: 3px;
    left: 50px;    
}
.action_container .box2 .fab__btn,
.action_container .box3 .fab__btn,
.action_container .box4 .fab__btn{
    left: 54px;
    top: 3px;
}

.action_container .box2 .fab__btn{
    transform: rotate(180deg);
    left: 53px;
}
.action_container .box3 .fab__btn{
    top: 4px;
}
.action_container .box3 .fab__btn .icon3{
    font-size: 30px;
    font-weight: bold;
    transform: rotate(90deg);
}
.action_container .box4 .fab__btn{
    left: 51px;
}
.MuiDrawer-paperAnchorTop{
    overflow: visible !important;
}

.g_loader{
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
.no__graph{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 24px;
}

.az_drawer__body .MuiCheckbox-colorSecondary.Mui-checked {
    color: rgb(89, 197, 128);
}

.algo__action_btn{
    background: rgb(31,104,143);
    background: linear-gradient(342deg, rgba(31,104,143,1) 0%, rgba(89,198,129,1) 68%);
    border: none;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
}

.text-small{
    font-size: 8px;
    color: white;
}

.prism__logo{
    width: 50px; height: 50px;
}

.options__container{
    flex: 1;
    justify-content: center;
    display: flex;
}

.action__types{
    list-style: none;
    border-radius: 12px;
    /* border: 2px solid rgb(140 140 140 / 35%); */
    width: 500px;
    align-items: center;
    justify-content: center;
    background: #0e1117;
}
.gradient__module_border{
    max-width: 550px;
    padding: 1rem;
    position: relative;
    /* background: linear-gradient(to right, red, purple); */
    background: linear-gradient(270deg, rgba(58,43,75,1) 0%, rgba(41,102,91,1) 40%);
    padding: 2px;
    border-radius: 12px;
}

ul.d-flex.select_nodes {
    list-style: none;
    padding: 0;
    position: absolute;
    background: #0e1117c2;
    border-radius: 12px;
    bottom: -53px;
    border: 2px solid #29665b;
    right: 22%;
}