/* .head{
   padding-right: 32px;
   padding-left: 32px;
   padding-top: 8px;
   padding-bottom: 8px;
} */
   
/* .containerT{
   display: flex;
   justify-content: center;
   align-items: center;
} */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.logo{
   width: 210px;
}

.center{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.iconBottom{
  display: flex;
  flex-direction: row;
}

img{
   width: 100%;
   height: auto;
}
 /* .temp{
   top: 50%;
   left: 20%;
   right: 20%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
} */

.mpf-nav{
    list-style: none;
}

.ham-menu{
    left: unset;
    right: 130px;
}

/* new added style by krishna */


.header__navmenu .item.activeWithBg{
    border-color: #fff;
    color: #fff;
}

.header__navmenu .active.item.activeWithBg{
    border-color: #fff !important;
    color: #fff !important;
}

.header__navmenu .item.activeWithFg{
    border-color: #333;
    color: #333;
}
.header__navmenu .active.item.activeWithFg{
    border-color: #333 !important;
    color: #333 !important;
}


.aztec__nav_menu{
    flex: 1;
}
.profileBtn:focus, .profileBtn:active{
    outline: none;
    color: white;
    background-color: transparent;
}

.profileBtn, .profileBtn:hover{
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
}

.profile-picture{
    width: 35px;
}

.header__navmenu .item.activeWithFg:hover{
    color: '#aac72d' !important
}