.react_time_range__time_range_container{
    display: flex;
    padding: 0 5% !important;
    width: 100% !important;
    /* height: 100px; */
    align-items: center;    
}
.react_time_range__tick_label{
    display: none;
}
div#timeline__filter {
    position: absolute;
    width: 100%;
    top: 16%;
    background: #b7b7b72e;
    height: 220px;
    display: none;
    border-radius: 12px;
}
.timeline__year{
    margin: 0 5%;
    background: #59c580d6;
    color: white;
}
.month__item{ flex: 1 }
.month__item:nth-child(even) {
    background-color: #4bbcafe8;
}
.month__item:nth-child(odd) {
    background-color: #196890a3;
}