.container {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 16px;
    width: 100%;
}
.Button{
    margin: 100px;
    align-self: center;
}
  