.container {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto !important;
}