/* .flex-col-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    min-height: 80vh;
    width: 80px;
  }
  
  .logo {
    height: 50px;
    width: 50px;
  }
  
  .overlap-group-1 {
    min-height: 80vh;
    margin-top: 20px;
    position: relative;
    width: 85px;
    background: url('../../assets/images/ic_side_bar.svg');
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .overlap-group2 {
    height: 80vh;
    position: relative;
    width: 80px;
  }
  
  .background-side-bar {
    align-items: flex-start;
    display: flex;
    min-height: 80vh;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .mask-group {
    height: 60px;
    left: 0;
    position: absolute;
    top: 25px;
    opacity: 0.1;
    width: 20px;
  }
  
  .background-side-bar-1 {
    min-height: 80vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 80px;
    transition: all 0.2s ease;
    pointer-events: auto;
  }
  
  .verticle{
    align-items: center;
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 16px;
    width: 80px;    
  }
  
  .menu {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 0.5;
  }
  
  .menu :hover{
    transform: scale(1.3);
    color: var(--darkcolor-primary);
    fill: coral;
  }
  
  .bottom{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    align-items: center;
    text-align: center;
  }
  
   */