.containerT{
    display: block;
    width: 100%;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

#chartdiv {
    width: 100%;
    height: 400px;
}

.body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 9pt;
}