.Back{
    height: 85vh;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.ag-theme-alpine {
    /* use theme parameters where possible */

    --ag-header-foreground-color:#fff;
    --ag-foreground-color: #fff;
    --ag-background-color: rgba(0, 0, 0, 0.1);
    --ag-header-background-color:rgba(0, 0, 0, 0.1);
    --ag-control-panel-background-color:#222729;
    --ag-subheader-background-color:#222729;

    --ag-subheader-toolbar-background-color:#222729;

    --ag-disabled-foreground-color: #222729;
    /* ag-derived(#a6b0b4, $opacity: 0.5); */
    --ag-borders:false;
    --ag-border-color: #2b454d;
    /* background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343, #215569); */
}

#grad {
    width:100%;
    min-height: 100vh;
    /* background-color: #0c5658,; */
    background-image: linear-gradient(to bottom left,#0a0c10,#0a0c10,#004e45, #18404a,#0a0c10, #18404a,#0a0c10,#0a0c10);
    padding: 16px;
    margin: 50;
}

.secondaryContainer{
    border-radius: 20px;
    width:100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 16px;
    min-height: 100vh;
    border: 3px solid #b6bcbf;
  }

  .transaprentBox{
      background-color: rgba(0, 0, 0, 0.3);
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 20px;
      padding-bottom: 60px;
      border-radius: 6px;
  }

  .transaprentBoxStart{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

  .transparentRound{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .fill{
    /* fill:#000; */
    background-color: #EC008C; /* The color you want the icon to change to */
    mix-blend-mode: multiply;
  }

 
/* .ag-theme-alpine {
    font-style: italic;
   
    background-color: #f00,
     background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343, #215569);
 } */

/* #grad {
    min-height: 100vh;
    width: 100%;
      background-color: #0c5658,;
      background-image: linear-gradient(to bottom right,#0f3343, #215569, #0f3343, #215569);
      padding: 16px;
    } */
  