.containerT {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0 !important;
    margin-top: 12px;
}

.div{
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    border: 1px;
    border-color: "#99c9bf";
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .centerHorizontal {
     display: flex;
     flex-direction: row;
     text-align: center;
     justify-content: center;
     align-items: center;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .listClass{
    display: flex;
    flex-direction: row;
 }

 .centerItem{
     text-align: center;
     justify-content: center;
    align-items: center;
 }

.bottomContainer{
    width: 100%;
    margin: 20;
}

.selected{
    border-radius: 8px;
    background: "#c2f0f0";
    display: inline-block;
    border: 2px solid ;
    border-color: #7adddd;
}

.popup{
    justify-items: center;
    text-align: center;
    padding: 10;
}

.button{
    margin: 80px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
  
#chartdiv {
    width: 100%;
    height: 400px;
}

#chartdivXY {
    width: 100%;
    height: 400px;
}

.nav-item button{
    border: none;
    outline: none;
}